{% extends 'base.html' %}
{% load static %}


{% block content %} 

<main class="container flex-grow-1 align-items-center" id="main">

    <div class="row" id="headline">
        <div class="col-6">
            <h1>Welcome back, {{ user.username|default:'Guest' }}!
            </h1>
            <!-- <select name="dashboard" id="dashboard">
                <option value="recents">Recents</option>
                <option value="favorites">Favorites</option>
                <option value="discover">Discover</option>
            </select> -->
            <a href="{% url 'dashboard' %}">Your Favorites</a>
            <a href="{% url 'dashboard_filter' content_type='PC' %}">Your Podcasts</a>
            <a href="{% url 'dashboard_filter' content_type='YT' %}">Your Videos</a>
        </div>
    </div>

    <div class="row justify-content-center">          
        {% for favorite in favorites %}
            <section class="card w-25 m-2 text-center">
                
                <div>
                    <img
                    src="{{ favorite.image }}"
                    class="img-fluid ml-3 my-3"
                    alt="{{ favorite.name }}"
                    />
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ favorite.name }}</h3>
                    <!-- <p class="card-text">{{ episode.description }}</p> -->
                </div>
                <div class="card-footer" style="border: none; background-color: white;">
                    <a href="{{ favorite.link }}" style="text-decoration: none;">
                        🎧 Listen here
                    </a>
                </div>                 
                
            </section>
        {% endfor %}                       
    </div>
</main>

<script src="{% static 'podcasts/script.js' %}"></script>

{% endblock %}