{% extends 'base.html' %}
{% load static %}

<!-- Look into Django REST API Framework to access the information 
     you need for this view. I need to make an API to access the
     amount of information I'm trying to access.
     Follow Django REST Framework tutorial to design one for this today. -->

{% block content %} 

<main class="container flex-grow-1 align-items-center" id="main">

    <div class="row" id="headline">
        <div class="col-5">
            <h1>Welcome back, {{ user.username|default:'Guest' }}!</h1>
            <select name="dashboard" id="dashboard" onchange="selectView()">
                <option value="recents">Recents</option>
                <option value="favorites">Favorites</option>
                <option value="discover">Discover</option>
            </select>
        </div>
    </div>

    <div class="row justify-content-center">          
        {% for favorite in favorites %}
            <section class="card w-25 m-2 text-center">
                
                <div>
                    <img
                    src="{{ favorite.image }}"
                    class="img-fluid ml-3 my-3"
                    alt="{{ favorite.podcast_name }}"
                    />
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ favorite.title }}</h3>
                    <!-- <p class="card-text">{{ episode.description }}</p> -->
                </div>
                <div class="card-footer" style="border: none; background-color: white;">
                    <a href="{{ favorite.link }}" style="text-decoration: none;">
                        🎧 Listen here
                    </a>
                </div>                 
                
            </section>
        {% endfor %}                       
    </div>
</main>

<script src="{% static 'podcasts/script.js' %}"></script>

{% endblock %}