{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- <body class="d-flex flex-column"> -->

    {% if messages %}
      <ul class="messages" style="background-color:#ccc">
        {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}


    <main class="container flex-grow-1 mt-3">
      <div class="row">
        <div class="col">
          {% for item in content %}
          <section class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-2 my-auto">
                <img
                  src="{{ item.image }}"
                  class="img-fluid ml-3 my-3"
                  alt="{{ item.name }}"
                />
              </div>
              <div class="col-md-10">
                <div class="card-body ml-3">
                  <h3 class="card-title">{{ content.name }}</h3>
                  <p class="card-text">{{ content.description }}</p>
                  <a href="{{ item.link }}">
                    <p class="card-text">🎧 Listen to this podcast</p>
                  </a>
                  <a href= "{% url 'users:favorite_add' item.id %}" class="btn btn-outline-danger favorite" id="favorite">
                    <i class="bi bi-heart"></i>
                  </a>
                </div>
              </div>
            </div>
          </section>
          {% endfor %}
        </div>
      </div>
    </main>
<!-- </body> -->
{% endblock %}