<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>pyCasts!</title>
        <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous"
        />
        <link rel="stylesheet" href="{% static 'style.css' %}" />
    </head>

    <body>
        <header>
            <nav class="navbar">
                <a href="#0" class="navbar-brand">
                    <img src="{% static 'imgs/jomboy-logo.png" alt="Jomboy Logo">
                </a>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link active" href="bio.html">Podcasts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="portfolio.html">Warehouse Games</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="interact.html">Entertainment</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        
        {% block content %}

        {% endblock %}

        <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous">
        </script>
    </body>
</html>