{% extends 'base.html' %}

{% block content %}

<main style="margin: 0; padding: 0;">
    <div class="container" style="margin: 0; padding: 0;">
        <div class="row" style="margin: 0; padding: 0;">
            <div class="col-8" id="banner">
                <h1 id="bannerH1">All our content.</h1>
                <h1 id="bannerH1">All in one place.</h1>
            </div>
            <div class="col-4">
                <div class="login">
                    <h2>Login</h2>
                    <form method="post" class="loginForm">
                        {% csrf_token %}

                        <div class="mb-3">
                            <input type="username" class="form-control" name="username" autocomplete="username" maxlength="150"
                                   required placeholder="Username">
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" name="password" autocomplete="current-password" required
                                   placeholder="Password">
                        </div>
                        <div id="signup" class="form-text mb-2">
                            Not a user? Sign up <a href="{% url 'users:register' %}">here.</a>
                        </div>
                        <input type="submit" value="Login">
                    </form>
                    <a href="{% url 'users:password_reset' %}">Forgot password?</a>
                    <a href="{% url 'users:social:begin' 'github' %}">Login with GitHub</a>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}